language:
- c
os:
- osx
- linux
compiler:
- clang
- gcc
addons:
  apt:
    packages:
    - gcc-multilib
install: travis_wait mvn install
script: make test
notifications:
  email: false
  slack:
    secure: Rmx77Zmcd55JtC7MENjqHkjTHcVS4di/Sih5rZ/rbN39GAL0gUGPBzoMD/n+GfBT3sUp/si6Dd/+fd3mD4dWEFFTyeQk5MM5HI6Mf7ZI4mZwpeDpIsREAU5WvT0PxbPHTQSvLtHX/m/MVopXvgCxm5B07a63ftchJiLyuEO1WTBGG18DWhG2pdQodmJknSQ/6xVHuKwYsD/w54ch8pXQuF6ZF57vvWZavwxLcwaUL/nwBWIcxf5oSDHePDMu25CqhIfQQGZsEpV8Js5lMyDtbhgB4J1oblGwzE9X17RdTwOr/6SvlAmgOWszrNj+3gWjvekdzmcwdV3I8+hraZPbeAoosILNiKahz25/tc5Aey5RNAxS6PQW6WD7U4Hl/D/HEXlAc69S6UQEs8mauVG3NCCiWZz3fMzbIlD6fax+W21ZXa4Vr75USChR+zyjvjPgCnDaAwNNmz9WDmUkMxuIRvD92fUjgi8abVGqFnp7WN6mkr/At0rpypUXWHRpaTCN/Z83EM7SkTnviYL1nmOBAX0lQezS8xiwh4IyS3cdFoWXiEiU7FGNIejlE7TW0LI3bnzRaiUFylQLDLjlV0Dl8byeI8ojVt86QCLH3xutE2YyIdrW2YUsEbktJg4/G6Wzj+wqu6MAC4VC3L5k+/+dsTcm+pezYiKcC6BLj7TbdWY=